.counts {
    padding: 60px 0;
    width: 90%;
    margin: 0 auto;
  }
  
  .counts .count-box {
    width: 100%;
    text-align: center;
  }
  
  .counts .count-box span {
    font-size: 48px;
    line-height: 48px;
    display: block;
    font-weight: 700;
    color: #43920D;
    margin-left: 80px;
    margin: auto;
    text-shadow: 1px 1px #000;
  }
  .counts .count-box span:hover{
    color: #124265;
  }
  
  .counts .count-box p {
    padding: 8px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #1e6ca6;
  }
  .counts .count-box p:hover{
    color: #43920D;
  }